<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :competition_id %>
    <%= form.number_field :competition_id %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :home_team_id %>
    <%= form.number_field :home_team_id %>
  </div>

  <div class="field">
    <%= form.label :visitor_team_id %>
    <%= form.number_field :visitor_team_id %>
  </div>

  <div class="field">
    <%= form.label :home_team_score %>
    <%= form.number_field :home_team_score %>
  </div>

  <div class="field">
    <%= form.label :visitor_team_score %>
    <%= form.number_field :visitor_team_score %>
  </div>

  <div class="field">
    <%= form.label :winner %>
    <%= form.number_field :winner %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
