<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Competition</th>
      <th>Group</th>
      <th>Home team</th>
      <th>Visitor team</th>
      <th>Home team score</th>
      <th>Visitor team score</th>
      <th>Winner</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.competition_id %></td>
        <td><%= match.group_id %></td>
        <td><%= match.home_team_id %></td>
        <td><%= match.visitor_team_id %></td>
        <td><%= match.home_team_score %></td>
        <td><%= match.visitor_team_score %></td>
        <td><%= match.winner %></td>
        <td><%= match.status %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
