<p id="notice"><%= notice %></p>

<p>
  <strong>Competition:</strong>
  <%= @match.competition_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @match.group_id %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @match.home_team_id %>
</p>

<p>
  <strong>Visitor team:</strong>
  <%= @match.visitor_team_id %>
</p>

<p>
  <strong>Home team score:</strong>
  <%= @match.home_team_score %>
</p>

<p>
  <strong>Visitor team score:</strong>
  <%= @match.visitor_team_score %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<p>
  <strong>Status:</strong>
  <%= @match.status %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
