<p id="notice"><%= notice %></p>

<h1>Competition Teams</h1>

<table>
  <thead>
    <tr>
      <th>Competition</th>
      <th>Team</th>
      <th>Points</th>
      <th>Goal difference</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @competition_teams.each do |competition_team| %>
      <tr>
        <td><%= competition_team.competition_id %></td>
        <td><%= competition_team.team_id %></td>
        <td><%= competition_team.points %></td>
        <td><%= competition_team.goal_difference %></td>
        <td><%= competition_team.place %></td>
        <td><%= link_to 'Show', competition_team %></td>
        <td><%= link_to 'Edit', edit_competition_team_path(competition_team) %></td>
        <td><%= link_to 'Destroy', competition_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competition Team', new_competition_team_path %>
